[flake8]
extend-ignore = E203
per-file-ignores =
    */settings.py:F403,F405
    */importer/*.py:E722,F841
    */management/commands/*.py:E722,F841
    core/taskqueue.py:F841
    core/views.py:E722
    games/tasks/*.py:F841
    games/templatetags/*.py:E722
    games/tools.py:E722
    games/updater.py:E722
    ifdb/permissioner.py:E722
    scripts/*.py:E722